@font-face /*rajout d'une font*/
{
  font-family: my_font;
  src: url("../font/titre.otf");
}

@font-face /*rajout d'une font*/
{
  font-family: normal_font;
  src: url("../font/norm.ttf");
}

h1#logo
{
	color : white;
	margin-left: 15%;
	font-size: 200%;
	font-family: my_font;
}

.choix_pages
{
	color: white;
	font-size: 50%;
	font-family:normal_font ;
	margin-left: 2%;
}

#first_element
{
	margin-left: 25%;
}

.choix_pages:hover
{
	color: #E22C05;
}