div#bandeau 
{
	width:100%;
	height:50%;
	background-color:#000000;
}
div#contenu_pres 
{
	width:100%;
	height:50%;
	background-color:#000000;
}
div#piedpage 
{
	width:100%;
	height:40%;
	background-color:#FFFFFF;
}