.image_centre
{
	width : 50%;
	height : 50%;
	border: 3% solid #2a3cad;
    border-radius: 5%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.image_pres
{
	width: 80%;
	height: 70%;
	border:  3% solid #2a3cad;
	border-radius: 5%;
}