footer
{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #201B23;
    text-align: center;
}

.footer
{
	color : #BEC4C6;
	font-size: 150%;
}
.footer:hover
{
	color:  white;
	transition-duration: 0.5s;
}


.insta
{
	transition-duration: 0.5s;
	width: 3%;
}

.insta:hover
{
	filter: invert(1);
}
