@font-face /*rajout d'une font*/
{
  font-family: my_font;
  src: url("../font/titre.otf");
}

@font-face /*rajout d'une font*/
{
  font-family: normal_font;
  src: url("../font/norm.ttf");
}


h1
{
	color : red;
	text-align: center;
	font-size: 200%;
}
h2
{
	color:  white;
	font-variant: 100%;
	font-family: normal_font;
}

h1#logo
{
	color : white;
	margin-left: 15%;
	font-size: 200%;
	font-family: my_font;
}

.choix_pages
{
	color: white;
	font-size: 50%;
	font-family:normal_font ;
	margin-left: 2%;
}

#first_element
{
	margin-left: 25%;
}

.choix_pages:hover
{
	color: #E22C05;
}

#retour
{
	background-color: red;
	color : white;
	transition-duration: 2s;
	border : solid red 10px;
	border-radius: 10px;
	font-size: 160%;
	height: 40%;
	margin-left: 39%;
}
#retour:hover
{
	background-color: white;
	color : red;
	border : solid white 10px;
}
