.image_centre
{
	width : 50%;
	height : 50%;
	border: 3% solid #2a3cad;
    border-radius: 5%;
}

.image_centre:hover
{
	filter: invert(1);
}

.image_pres
{
	width: 80%;
	height: 70%;
	border:  3% solid #2a3cad;
	border-radius: 5%;
}