*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	height : 100vh;
	font-family: Arial,Helvetica,sans-serif;
}

/*****************************/

.accueil {
	height: 75vh;
	width : 100%;
	background: #0c273c;
}

@media screen and (max-width : 450px) {
	.accueil {
		height: 85vh;
	}
}

.fond-curvy {
	width: 100%;
	position: absolute;
	left: 0;
	bottom:  5%;
	display: block;

}

.contenu {
	position: relative;
	z-index : 1000;
}


h1 {
	font-size: 90px;
	padding: 200px 0 0 10vw;
	position: relative;
	right: 8px;
	color:  #f1f1f1;
}

p {
	font-size: 30px;
	padding-left: 10vw;
	margin: 7px 0;
	color:  #f1f1f1;
}

button {
	margin: 20px 0 0 10vw;
	padding: 12px;
	font-size: 10px;
	width: 150px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
}

.laptop {
	width: 30vw;
	position: absolute;
	top: 100px;
	right: 12%;
}
/***************************/

.loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lettre {
	color: #484848;
	font-size: 80px;
	letter-spacing: 15px;
	margin-bottom: 150px;
	animation: flash 1.2s linear infinite;
}

@keyframes flash {
	0%{
		color : #fff900;
		text-shadow: 0 0 7px #fff900;
	}
	90%{
		color: #484848;
		text-shadow: none;
	}
	100%{
		color : #fff900;
		text-shadow: 0 0 7px #fff900;
	}
}

.lettre:nth-child(1) {
	animation-delay: 0.1s ;
}
.lettre:nth-child(2) {
	animation-delay: 0.2s ;
}
.lettre:nth-child(3) {
	animation-delay: 0.3s ;
}
.lettre:nth-child(4) {
	animation-delay: 0.4s ;
}
.lettre:nth-child(5) {
	animation-delay: 0.5s ;
}
.lettre:nth-child(6) {
	animation-delay: 0.6s ;
}
.lettre:nth-child(7) {
	animation-delay: 0.7s ;
}
.lettre:nth-child(8) {
	animation-delay: 0.8s ;
}
.lettre:nth-child(9) {
	animation-delay: 0.9s ;
}
.lettre:nth-child(10) {
	animation-delay: 1s ;
}

.fondu-out {
	opacity: 0;
	transition : opacity 0.4s ease-out;
}

/*******************************/


/*********************************/
.code {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	text-align: left;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background: linear-gradient(135deg, hsl(215,50%,90),  hsl(215,50%,90));
  box-shadow: 9px 9px 16px #808080,-9px -9px 16px #ffffff;
}


.code:hover {
	  box-shadow: inset 5px 5px 7px 5px rgba(0, 0, 0, 0.1), inset -5px -5px 7px 5px rgba(247, 251, 255, 0.6);
}

#image {
	text-align: center;
}

h2 {

	margin-left: 2%;
}

.biblio {
	color : #000;
}

.point {
	color : #968B89
}

.nom {
	color: #063FB3;
}

.valeur {
	color : #F38000;
}

.commentaire {
	color: #84817D;
}


.container {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
}


/************************/

a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: 1.5s;
}

a:hover {
	color: #a80000;
}



